<div temp-ref="container">
	<div temp-ref="buttons">
		<button tester-width="100" tester-height="100">100x100</button>
		<button tester-width="100" tester-height="400">100x400</button>
		<button tester-width="400" tester-height="100">400x100</button>
		<button tester-width="400" tester-height="400">400x400</button>
	</div>
	<div class="outer-container">
		<div>
			<div class="inner-container" temp-ref="inner"></div>
		</div>
		<div class="bottom-border">
			<div class="mover" temp-ref="mover"></div>
		</div>
	</div>
</div>