.options{
	display : inline-block;
	width : auto;	
}

.outer-container{
	display : inline-block;
	width : auto;	
}

.inner-container{
	width : 400px;
	height : 400px;
	border : 1px dashed green;
	overflow: hidden;
}

.bottom-border{
	height : 15px;
}

.mover{
	display : inline-block;
	height : 15px;
	width : 15px;
	border-radius : 7px;
	background-color : green;
	float : right;
}

